<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Angular Babel Jspm</title>
	<link rel="stylesheet" href="css/styles.css">
	<script src="//localhost:35729/livereload.js"></script>
	<script src="jspm_packages/system.js"></script>
	<script src="config.js"></script>
	<script>
		System.import('./app/app');
  </script>
</head>
<body ng-app="feedbackTracker">
	<div class="prj-smry-lst"
		ng-controller="projectSummaryListCtrl as prjSmryLst">
		<h2>Project Summaries</h2>
		<div class="prj-smry" ng-repeat="prj in prjSmryLst.projects"
			ng-click="prjSmryLst.setSelectedProject(prj)"
			ng-class="{'selected':prjSmryLst.isSelectedProject(prj)}">
			<div class="prj-smry-logo">
				<img src="{{prj.logo}}">
			</div>
			<h3 class="prj-smry-name">{{prj.name}}</h3>
			<div class="prj-smry-desc">{{prj.description}}</div>
		</div>
	</div>

	<table st-table="rowCollection" class="table table-striped">
		<thead>
		<tr>
			<th>first name</th>
			<th>last name</th>
			<th>birth date</th>
			<th>balance</th>
			<th>email</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="row in rowCollection">
			<td>{{row.firstName}}</td>
			<td>{{row.lastName}}</td>
			<td>{{row.birthDate}}</td>
			<td>{{row.balance}}</td>
			<td>{{row.email}}</td>
		</tr>
		</tbody>
	</table>
</body>
</html>
