/**
 * Styles for the project summary list
 */
.prj-smry-lst {
  padding: 0 20px;
}

.prj-smry {
  background-color: #fff;
  border: 1px solid #666;
  box-shadow: 4px 4px 2px #888;
  margin-bottom: 10px;
  // Used to clear logo float
  overflow: hidden;
  padding: 10px;

  &.selected {
    background-color: #ff00ff;
  }
}

.prj-smry-logo {
  background-color: #bbb;
  float: left;
  margin-right: 10px;
  text-align: center;
  width: 150px;

  img {
    max-height: 150px;
    max-width: 100%;
  }
}

.prj-smry-name {
  margin-top: 0;
}

.prj-smry-desc {
  max-height: 150px;
  overflow: hidden;
}
